*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  height: 100svh;
  background-color:rgb(55, 112, 55) ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userinput-container{
  background-color:rgb(82, 167, 82) ;
  color: white;
  border-radius: 0.5rem;
  padding: 2rem;
  margin-bottom: 2rem;
}
.userinput-container input{
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
}